.page-template-page-dashboard-php .vcard {
	width: 50%;
	float: left;
	padding-right: 20px;
	* {
		float: left;
		display: block;
	}
	.account-details * {
		width: 337px;
		clear: both;
	}
	img.photo {
		margin-right: 10px;
	}
}